# **Python Scripting**

# **Day-1**

## **Python Inputs and Outputs**

In [4]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
total = num1 + num2    # String concatenation
print ("So total =", total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'str'> 1708743530992
200 <class 'str'> 1708743530352
So total = 100200
End of the program...

In [6]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
total = num1 + num2    # algebraic addition
print ("So total =", total)
print ("End of the program...")

Please enter the first number:  200
Please enter the second number:  300

200 <class 'int'> 1708664232400
300 <class 'int'> 1708742880016
So total = 500
End of the program...

In [21]:
print ("So", num1, "+", num2, "=", total)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(total))
print ("So {} + {} = {}".format(num1, num2, total))    # {} is called variable placeholder
print ("So {0} + {1} = {2}".format(num1, num2, total))    # indexed variable placeholder
print ("So {2} + {1} = {0}".format(total, num2, num1))    # indexed variable placeholder
print ("So {fn} + {sn} = {re}".format(fn = num1, sn = num2, re = total))    # labelled variable placeholder
print ("So {fn} + {sn} = {re}".format(re = total, sn = num2, fn = num1))    # labelled variable placeholder
print (f"So {num1} + {num2} = {total}")    # smart formatting applicable from Python 2.7 and onward versions
print ("So %d + %d = %d"%(num1, num2, total))
print ("So %d + %f = %d"%(num1, num2, total))
print ("So %8.2f + %10.3f = %d"%(num1, num2, total))

So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300 = 500
So 200 + 300.000000 = 500
So   200.00 +    300.000 = 500

## **Python Dynamic Variable Datatypes**

In [22]:
var1 = 100; print (var1, type(var1), id(var1))
var1 = 100.5; print (var1, type(var1), id(var1))
var1 = "Punch"; print (var1, type(var1), id(var1))
var1 = "P"; print (var1, type(var1), id(var1))
var1 = 'Punch'; print (var1, type(var1), id(var1))
var1 = 'P'; print (var1, type(var1), id(var1))
var1 = True; print (var1, type(var1), id(var1))
var1 = False; print (var1, type(var1), id(var1))

100 <class 'int'> 1708664229200
100.5 <class 'float'> 1708742872464
Punch <class 'str'> 1708771758384
P <class 'str'> 1708665790000
Punch <class 'str'> 1708771758384
P <class 'str'> 1708665790000
True <class 'bool'> 140734189291728
False <class 'bool'> 140734189291760

## **Python Operators**

In [ ]:
# Arithmetic Operators: + - * / // ** %
# Conditional Operators: > >= < <= != ==
# Logical Operators: and or not
# Assignment Operator: = 
# Special Assignment Operators: += -= *= /= //= **= %=

# Operators: Unary, Binary, Ternary
# Unary Operators (Require only one operand): +100 -300
# Binary Operators (Require only two operands): 700 + 100    900 - 300
# Ternary Operator (Requires only three operands)

In [24]:
# Arithmetic Operators: + - * / // ** %
print (100 + 40)    # addition
print (100 - 40)    # subtraction
print (100 * 40)    # multiplication
print (100 / 40)    # float division
print (100 // 40)   # integer division
print (100 ** 4)    # exponentiation
print (100 % 40)    # modulus, remainder of the division

140
60
4000
2.5
2
100000000
20

In [25]:
# Conditional Operators: > >= < <= != ==
print (100 > 40, 100 >= 40, 40 < 100, 40 <= 100, 100 != 40, 100 == 100)

True True True True True True

In [28]:
# Logical Operators: and or not
print (False and False, False and True, True and False, True and True)
print (False or False, False or True, True or False, True or True)
print (not True, not False)

False False False True
False True True True
False True

In [29]:
# Special Assignment Operators: += -= *= /= //= **= %=
num1 = 100
print (num1)
num1 = num1 + 400
print (num1)
num1 += 400
print (num1)

100
500
900

In [31]:
# Ternary Operator (Requires only three operands)
num1 = 100
result = "EVEN" if (num1 % 2 == 0) else "ODD"
print (num1, result)

num1 = 101
result = "EVEN" if (num1 % 2 == 0) else "ODD"
print (num1, result)

100 EVEN
101 ODD

## **Characters and ASCII Codes**

In [32]:
# ASCII (American Standard Code for Information Interchange) Codes
# A => 65, B => 66, Z => 90
# a => 97, b => 98, z => 122
# 0 => 48, 1 => 49, 9 => 57
# Space Bar/Blank => 32, Enter => 13, Esc => 27, Back Space => 9, Tab => 8
# ASCII Code is 8 bits code ranging from 0 to 255
# It can be divided into two categories:
# 1. Normal ASCII Codes (0 to 127) - Printable
# 2. Extended ASCII Codes (128 to 255) - Non-Printable
print (ord('A'), ord('a'), ord('Z'), ord('z'))  # returns characters to ASCII Codes
print (chr(65), chr(97), chr(90), chr(122))     # returns ASCII Codes to characters

65 97 90 122
A a Z z

## **Conditional Statements**

In [41]:
# Take three numbers from the user as input and find the maximum of these three numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2):
    if (num1 > num3):
        print ("The first number is the maximum number...")
        print ("So the maximum number is", num1)
    else:
        print ("The third number is the maximum number...")
        print ("So the maximum number is", num3)
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("The third number is the maximum number...")
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first integer:  300
Please enter the second integer:  200
Please enter the third integer:  100

The first number is the maximum number...
So the maximum number is 300
End of the program...

In [44]:
# Take three numbers from the user as input and find the maximum of these numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2 and num1 > num3):
    print ("The first number is the maximum number...")
    print ("So the maximum number is", num1)
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("The third number is the maximum number...")
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first integer:  200
Please enter the second integer:  100
Please enter the third integer:  300

The third number is the maximum number...
So the maximum number is 300
End of the program...

In [47]:
# Calculator Program
print ("M A I N  M E N U ...")
print ("~~~~~~~~~~~~~~~~~~~~")
print ("1 >  A D D I T I O N  O P E R A T I O N ...")
print ("2 >  S U B T R A C T I O N  O P E R A T I O N ...")
print ("3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...")
print ("4 >  D I V I S I O N  O P E R A T I O N ...")
choice = int(input("Please enter youe choice integer (1 to 4): "))
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
if (choice == 1):
    print ("Performing the addition operation...")
    result = num1 + num2
    print (f"So {num1} + {num2} = {result}")
elif (choice == 2):
    print ("Performing the subtraction operation...")
    result = num1 - num2
    print (f"So {num1} - {num2} = {result}")
elif (choice == 3):
    print ("Performing the multiplication operation...")
    result = num1 * num2
    print (f"So {num1} * {num2} = {result}")
elif (choice == 4):
    print ("Performing the division operation...")
    if (num2 == 0):
        print ("Division by ZERO is Illegal !!!")
        print ("Division operation can not be carried out...")
    else:
        result = num1 / num2
        print (f"So {num1} / {num2} = {result}")
else:
    print ("Invalid choice number has been provided...")
    print ("No operation could get carried out...")
print ("End of the program...")

M A I N  M E N U ...
~~~~~~~~~~~~~~~~~~~~
1 >  A D D I T I O N  O P E R A T I O N ...
2 >  S U B T R A C T I O N  O P E R A T I O N ...
3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...
4 >  D I V I S I O N  O P E R A T I O N ...

Please enter youe choice integer (1 to 4):  4
Please enter the first integer:  100
Please enter the second integer:  0

Performing the division operation...
Division by ZERO is Illegal !!!
Division operation can not be carried out...
End of the program...

## **'print' function**

In [49]:
print ("Hello", "to all")
print ("Good afternoon")

Hello to all
Good afternoon

In [50]:
help (print)   # ... ellipsis operator

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [51]:
print ("Hello", "to all", sep = " - ", end = ", ")
print ("Good afternoon")

Hello - to all, Good afternoon

# **Day-2**

## **Python Loops**

In [3]:
# for i in range(10):
# for i in range(0, 10):
for i in range(0, 10, 1):
    print ("i =", i)
print ("End of the loop execution...")

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9
End of the loop execution...

In [4]:
for i in range(0, 10, 2):
    print ("i =", i)
print ("End of the loop execution...")

i = 0
i = 2
i = 4
i = 6
i = 8
End of the loop execution...

In [6]:
for i in range(10, 0, -1):
    print ("i =", i)
print ("End of the loop execution...")

i = 10
i = 9
i = 8
i = 7
i = 6
i = 5
i = 4
i = 3
i = 2
i = 1
End of the loop execution...

In [12]:
count = 0
for i in range(-5, +5, 1):
    print ("i =", i)
    # count = count + 1
    count += 1
else:
    print ("ELSE block is executing...")
    print ("Had a smooth execution...")
print ("So total number iterations =", count)
print ("End of the loop execution...")

i = -5
i = -4
i = -3
i = -2
i = -1
i = 0
i = 1
i = 2
i = 3
i = 4
ELSE block is executing...
Had a smooth execution...
So total number iterations = 10
End of the loop execution...

In [23]:
count = 0
for i in range(1, 9):
    print ("i =", i)
    count += 1
else:
    print ("ELSE block is executing...")
    print ("Had a smooth execution...")
print ("So total number iterations =", count)
print ("End of the loop execution...")

i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
ELSE block is executing...
Had a smooth execution...
So total number iterations = 8
End of the loop execution...

In [16]:
count = 0
for i in range(1, 9):
    print ("i =", i)
    if (i == 4): 
        print ("Executing the break statement and coming out from the loop instantly...")
        break
    count += 1
else:
    print ("ELSE block is executing...")
    print ("Had a smooth execution...")
print ("So total number iterations =", count)
print ("End of the loop execution...")

i = 1
i = 2
i = 3
i = 4
Executing the break statement and coming out from the loop instantly...
So total number iterations = 3
End of the loop execution...

In [18]:
# find whether the user given integer is a PRIME number or not
num = int(input("Please enter one integer: "))
for factor in range(2, num):
    if (num % factor == 0):
        print (f"{num} is Not a PRIME Number...")
        break
else:
    print (f"{num} is a PRIME Number...")
print ("End of the program...")

Please enter one integer:  100

100 is Not a PRIME Number...
End of the program...

In [24]:
count = 0
for i in range(1, 9):
    if (i == 4 or i == 6):
        print (f"Going for the next iteration for i = {i}")
        continue
    print ("i =", i)
    count += 1
else:
    print ("ELSE block is executing...")
    print ("Had a smooth execution...")
print ("So total number iterations =", count)
print ("End of the loop execution...")

i = 1
i = 2
i = 3
Going for the next iteration for i = 4
i = 5
Going for the next iteration for i = 6
i = 7
i = 8
ELSE block is executing...
Had a smooth execution...
So total number iterations = 6
End of the loop execution...

In [26]:
count = 0
for i in range(1, 9):
    if (i != 4 and i != 6):
        pass   # pass is a statement place holder
    else:
        print (f"Going for the next iteration for i = {i}")
        continue
    print ("i =", i)
    count += 1
else:
    print ("ELSE block is executing...")
    print ("Had a smooth execution...")
print ("So total number iterations =", count)
print ("End of the loop execution...")

i = 1
i = 2
i = 3
Going for the next iteration for i = 4
i = 5
Going for the next iteration for i = 6
i = 7
i = 8
ELSE block is executing...
Had a smooth execution...
So total number iterations = 6
End of the loop execution...

In [28]:
i = 1
count = 0
while (i <= 8):
    print (f"Executing for i = {i}...")
    i = i + 1
    count = count + 1
else:
    print ("ELSE block is executing...")
    print ("Had a smooth execution...")
print (f"So total number iterations = {count}...")
print ("End of the loop execution...")

Executing for i = 1...
Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
Executing for i = 6...
Executing for i = 7...
Executing for i = 8...
ELSE block is executing...
Had a smooth execution...
So total number iterations = 8...
End of the loop execution...

In [30]:
# example on nested loops
print ("Visit DOCTOR...")    # 1 time
medicount = 0
for day in range(1, 6):
    print ("Good Morning...")    # 5 times
    for medi in range(1, 4):
        print (f"Day number = {day} and medicine number = {medi}...")    # 15 times
        medicount += 1
    print ("Good Night...")    # 5 times
    print ("-----------------------------------------------------------")    # 5 times
print ("Thanks to DOCTOR...")    # 1 time
print (f"So total number of medicines consumed is {medicount}...")

Visit DOCTOR...
Good Morning...
Day number = 1 and medicine number = 1...
Day number = 1 and medicine number = 2...
Day number = 1 and medicine number = 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day number = 2 and medicine number = 1...
Day number = 2 and medicine number = 2...
Day number = 2 and medicine number = 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day number = 3 and medicine number = 1...
Day number = 3 and medicine number = 2...
Day number = 3 and medicine number = 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day number = 4 and medicine number = 1...
Day number = 4 and medicine number = 2...
Day number = 4 and medicine number = 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day number = 5 and medicine number = 1...
Day number = 5 and medicine number = 2...
Day number = 5 and medicine number = 3...
Good Night...
-----------------------------------------------------------
Thanks to DOCTOR...
So total number of medicines consumed is 15...

In [31]:
# example on nested loops
print ("Visit DOCTOR...")    # 1 time
medicount = 0
day = 1
while (day <= 5):
    print ("Good Morning...")    # 5 times
    medi = 1
    while (medi <= 3):
        print (f"Day number = {day} and medicine number = {medi}...")    # 15 times
        medicount += 1
        medi += 1
    print ("Good Night...")    # 5 times
    print ("-----------------------------------------------------------")    # 5 times
    day += 1
print ("Thanks to DOCTOR...")    # 1 time
print (f"So total number of medicines consumed is {medicount}...")

Visit DOCTOR...
Good Morning...
Day number = 1 and medicine number = 1...
Day number = 1 and medicine number = 2...
Day number = 1 and medicine number = 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day number = 2 and medicine number = 1...
Day number = 2 and medicine number = 2...
Day number = 2 and medicine number = 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day number = 3 and medicine number = 1...
Day number = 3 and medicine number = 2...
Day number = 3 and medicine number = 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day number = 4 and medicine number = 1...
Day number = 4 and medicine number = 2...
Day number = 4 and medicine number = 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day number = 5 and medicine number = 1...
Day number = 5 and medicine number = 2...
Day number = 5 and medicine number = 3...
Good Night...
-----------------------------------------------------------
Thanks to DOCTOR...
So total number of medicines consumed is 15...

In [34]:
print ("Hello " * 5)
print ("Hi " * 8)

Hello Hello Hello Hello Hello
Hi Hi Hi Hi Hi Hi Hi Hi

In [ ]:
Pattern - 1
-----------
n = 6 (User input)    i   .   *
                   ---------------
.....*                1   5   1        (i, n)
....***               2   4   3   . => (n - i)
...*****              3   3   5
..*******             4   2   7   * => (2 * i - 1)
.*********            5   1   9
***********           6   0  11
                   ---------------
                    Tracing Table

In [39]:
n = int(input("Please enter the number of layers in the pattern: "))
for i in range(1, (n + 1)):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers in the pattern:  11

..........*
.........***
........*****
.......*******
......*********
.....***********
....*************
...***************
..*****************
.*******************
*********************
End of the program...

In [ ]:
Pattern - 2
-----------
n = 6 (User input)    i   .   *
                   ---------------
***********           1   0  11        (i, n)
.*********            2   1   9   . => (i - 1)
..*******             3   2   7
...*****              4   3   5   * => (2 * (n - i) + 1)
....***               5   4   3
.....*                6   5   1
                   ---------------
                    Tracing Table

In [42]:
n = int(input("Please enter the number of layers in the pattern: "))
for i in range(1, (n + 1)):
    print ("." * (i - 1) + "*" * (2 * (n - i) + 1))
print ("End of the program...")

Please enter the number of layers in the pattern:  6

***********
.*********
..*******
...*****
....***
.....*
End of the program...

In [43]:
# Series problem
# total = 1 + 2 + 3 + 4 + 10 + 5 + 6 + 7 + 8 + 26 + 9 + 10 + 11 + ... n terms
# find the sum of the series for first n terms where n will be given by the user.
n = int(input("Please enter the number of terms of the series: "))
term = 1
fsum = tsum = 0
for i in range(1, (n + 1)):
    if (i % 5 == 0):
        fsum += tsum
        print (f"Adding tsum = {tsum}...")
        tsum = 0
    else:
        fsum += term
        tsum += term
        print (f"Adding ordinary term = {term}...")
        term += 1
print (f"So the final sum is {fsum}...")
print ("End of the program...")

Please enter the number of terms of the series:  12

Adding ordinary term = 1...
Adding ordinary term = 2...
Adding ordinary term = 3...
Adding ordinary term = 4...
Adding tsum = 10...
Adding ordinary term = 5...
Adding ordinary term = 6...
Adding ordinary term = 7...
Adding ordinary term = 8...
Adding tsum = 26...
Adding ordinary term = 9...
Adding ordinary term = 10...
So the final sum is 91...
End of the program...

# **Day-3**

## Python inbuilt collections

In [1]:
# different inbuilt collections
list1 = [100, 2.45, True, "Food", 201]   # mutable
print (list1, len(list1), type(list1), id(list1))
tuple1 = (100, 2.45, True, "Food", 201)   # immutable, read only
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
dict1 = {'name':'Bidisha', 'location':'Noida', 'job':'Developer', 'company':'Accenture'} # mutable
print (dict1, len(dict1), type(dict1), id(dict1))
set1 = {"Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201}   # mutable
print (set1, len(set1), type(set1), id(set1))
fset1 = frozenset(["Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201]) # immutable, read only
print (fset1, len(fset1), type(fset1), id(fset1))

[100, 2.45, True, 'Food', 201] 5 <class 'list'> 2545078925760
(100, 2.45, True, 'Food', 201) 5 <class 'tuple'> 2545078477312
{'name': 'Bidisha', 'location': 'Noida', 'job': 'Developer', 'company': 'Accenture'} 4 <class 'dict'> 2545078138752
{True, 2.45, 100, 'Food', 201, 'Delhi'} 6 <class 'set'> 2545077299552
frozenset({True, 2.45, 100, 'Food', 201, 'Delhi'}) 6 <class 'frozenset'> 2545077300000

In [3]:
# dealing with empty collections
var1 = []; print (var1, len(var1), type(var1))
var1 = (); print (var1, len(var1), type(var1))
var1 = {}; print (var1, len(var1), type(var1))
var1 = set(); print (var1, len(var1), type(var1))
var1 = frozenset(); print (var1, len(var1), type(var1))

[] 0 <class 'list'>
() 0 <class 'tuple'>
{} 0 <class 'dict'>
set() 0 <class 'set'>
frozenset() 0 <class 'frozenset'>

## User Defined Functions (UDF)

In [6]:
def funct1():
    print ("Hello " * 5)
    print ("Welcome " * 3)
    print ()

funct1()
funct1()
funct1()

Hello Hello Hello Hello Hello
Welcome Welcome Welcome

Hello Hello Hello Hello Hello
Welcome Welcome Welcome

Hello Hello Hello Hello Hello
Welcome Welcome Welcome

In [8]:
def funct2(msg, times):   # positional parameters
    print (msg * times)

funct2("Welcome ", 5)   # positional arguments
funct2("Hello ", 10)
funct2("Hi !!! ", 4)

Welcome Welcome Welcome Welcome Welcome
Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!! Hi !!!

In [9]:
def funct3(msg, times):   # positional parameters
    return msg * times

result = funct3("Welcome ", 5)   # positional arguments
print (result)
print (funct3("Hello ", 10))
print (funct3("Hi !!! ", 4) )

Welcome Welcome Welcome Welcome Welcome
Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!! Hi !!!

In [19]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"par1 = {par1}, par2 = {par2}, par3 = {par3}")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par1 = 100)
funct4(par2 = 200)

par1 = 100, par2 = 200, par3 = 300
par1 = 100, par2 = 200, par3 = 333
par1 = 100, par2 = 222, par3 = 333
par1 = 111, par2 = 222, par3 = 333
par1 = 100, par2 = 222, par3 = 300
par1 = 100, par2 = 222, par3 = 300
par1 = 111, par2 = 200, par3 = 333

In [22]:
def funct5(num1, num2 = None):
    if (num2 == None):
    # if (num2 is None):
        return 2 * num1
    else:
        return num1 + num2
    
print (funct5(100, 400))
print (funct5(100))

500
200

In [24]:
# function returning multiple arguments
def funct6(num1, num2): 
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp} and Quitient = {qq}...")
result = funct6(100, 40)
print (result, len(result), type(result), id(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quitient = {result[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quitient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'> 2545115452960
Total = 140, Difference = 60, Product = 4000 and Quitient = 2.5...

In [25]:
# function with variable number of arguments
def funct7(*arg):    # *arg means forcefully defining arg as a tuple type object
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Amitava", "Developer", 65000)
funct7("Amitava", "Developer", 65000, "Pune")
funct7("Amitava", "Developer", 65000, "Pune", "Masters")

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2545115383616
('Amitava', 'Developer', 65000, 'Pune') 4 <class 'tuple'> 2545115451040
('Amitava', 'Developer', 65000, 'Pune', 'Masters') 5 <class 'tuple'> 2545114973504

In [26]:
# function with variable number of arguments
def funct8(**kwarg):   # **kwarg means forcefully defining kwarg as a dictionary type key-word argument
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune")
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune", qualification = "ME")

{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune'} 4 <class 'dict'> 2545078127872
{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune', 'qualification': 'ME'} 5 <class 'dict'> 2545115015488

In [36]:
# function with variable number of arguments
def funct9(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct9("Amitava", "Developer", 65000, location = "Pune", qualification = "Masters", hobby='drawing')
print()
funct9("Amitava", "Developer", 65000)
print()
funct9(location = "Pune", qualification = "Masters", hobby = 'drawing')
print()
print (type(funct9))

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2545115382976
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 2545115365824

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 2545115385216
{} 0 <class 'dict'> 2545115366272

() 0 <class 'tuple'> 2544992075888
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 2545078176832

<class 'function'>

In [34]:
# non-recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
# 0! = 1! = 1
def factorial_nr(num):
    if (num == 0 or num == 1): return 1
    fact = 1
    for i in range(1, num + 1):  # iteration
        fact *= i
        print (f"Executing for i = {i} and fact = {fact}...")
    return fact

n = 5
result = factorial_nr(n)
print (f"So factorial of {n} is {result}...")

Executing for i = 1 and fact = 1...
Executing for i = 2 and fact = 2...
Executing for i = 3 and fact = 6...
Executing for i = 4 and fact = 24...
Executing for i = 5 and fact = 120...
So factorial of 5 is 120...

In [31]:
# recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120 = 5 * 4!
# n! = n * (n - 1)!
def factorial_r(num):
    if (num == 0 or num == 1): return 1  # base case: for certain input values outputs are pre-known to us,
                                         # and here the recursion will terminate
    return num * factorial_r(num - 1)    # reursive case: the function will call itself

n = 5
result = factorial_r(n)
print (f"So factorial of {n} is {result}...")

So factorial of 5 is 120...

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120 (result)

#### Lambda Function
> In Python programming, a lambda function is a small anonymous function that can have any number of arguments, but can only have one expression. The expression is evaluated and returned as the function result. Lambda functions are commonly used in combination with higher-order functions such as map(), filter(), and reduce().

Some of the properties of lambda functions in Python programming include:
* **Anonymous:** Lambda functions are anonymous, meaning they do not have a name like regular functions. They are defined using the keyword "lambda" followed by the arguments and the expression.
* **Single Expression:** A lambda function can only contain a single expression that is evaluated and returned as the function result. This means that it cannot contain multiple statements or control flow structures.
* **Concise:** Lambda functions are concise and can be defined in a single line of code. This makes them useful for defining simple functions on-the-fly.
* **Immutable:** Lambda functions are immutable, meaning they cannot be modified once defined. This means that you cannot change the behavior of a lambda function after it has been defined.
* **Higher-order Functions:** Lambda functions are often used in combination with higher-order functions such as map(), filter(), and reduce(). These functions take other functions as arguments and return new functions as results.
* **Memory-efficient:** Lambda functions are memory-efficient since they are defined on-the-fly and do not require a separate function definition. This can be useful when working with large data sets or when memory usage is a concern.

In [37]:
# lambda function
my_square = lambda num: num * num

print (my_square(5))
print (my_square, type(my_square), id(my_square))
result = my_square(6)
print (result)

25
<function <lambda> at 0x0000025094AA72E0> <class 'function'> 2545114837728
36

In [38]:
my_addition = lambda num1, num2: num1 + num2

print (my_addition(500, 400))
print (my_addition, type(my_addition), id(my_addition))
result = my_addition(300, 500)
print (result)

900
<function <lambda> at 0x0000025094B70280> <class 'function'> 2545115660928
800

## Importing Modules

In [39]:
# importing the required module
import math

In [43]:
print (math.sin(0), math.cos(0), math.tan(0))
print (math.asin(0), math.acos(0), math.atan(0))
print (math.sinh(0), math.cosh(0), math.tanh(0))

0.0 1.0 0.0
0.0 1.5707963267948966 0.0
0.0 1.0 0.0

In [53]:
print (math.log(10), math.log(10, math.e))
print (math.log(1000, 10), math.log10(1000))
print (math.log(1024, 2), math.log2(1024))

2.302585092994046 2.302585092994046
2.9999999999999996 3.0
10.0 10.0

In [48]:
print (math.e, math.pi, math.tau)

2.718281828459045 3.141592653589793 6.283185307179586

In [57]:
print (math.pow(100, 3), 100 ** 3, 100.0 ** 3)
print (math.factorial(5), math.factorial(6))

1000000.0 1000000 1000000.0
120 720

In [63]:
print (abs(-10.5), abs(10.5))
print (math.gcd(100, 40), math.lcm(100, 40))
print (math.gcd(100, 40, 50, 70))

10.5 10.5
20 200
10

In [61]:
help (math.gcd)

Help on built-in function gcd in module math:

gcd(*integers)
    Greatest Common Divisor.

In [64]:
help (math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

# **Day-4**

## String Processing

In [ ]:
index left to right ->  0   1   2   3   4   5   6   7   8   9
               mystr =  u   n   i   v   e   r   s   i   t   y
index right to left ->-10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [66]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))

university 10 <class 'str'> 2545115242096

In [67]:
mystr = "university"
print (mystr[3], mystr[-7], mystr[7], mystr[-3], mystr[5], mystr[-5]) # indexing

v v i i r r

In [69]:
mystr = "university"
print (mystr[1:8], mystr[-9:-2], mystr[1:-2], mystr[-9:8], mystr[::-1]) # slicing or sub-string retrieval

niversi niversi niversi niversi ytisrevinu

In [70]:
mystr = "caLCuTTa unIVerSitY"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.title())
print (mystr.capitalize())
print (mystr.swapcase())
print (mystr.center(40))
print (mystr.upper().center(50))

caLCuTTa unIVerSitY 19 <class 'str'> 2545115111280
CALCUTTA UNIVERSITY
calcutta university
Calcutta University
Calcutta university
CAlcUttA UNivERsITy
          caLCuTTa unIVerSitY
               CALCUTTA UNIVERSITY

In [71]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find("i", 3), mystr.find("i", 5), mystr.find("ins", 11, 13))

4 4 11 -1

In [72]:
mystr = "charity begins at home"
print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
print (mystr.index("ins", 11, 13))

4 4 11

ValueError: substring not found

In [73]:
mystr = "    calcutta    university     "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))
print (mystr.strip(" "), mystr.lstrip(" "), len(mystr.lstrip(" ")))

    calcutta    university      31 <class 'str'> 2545115337216
calcutta    university 22
calcutta    university      27
    calcutta    university 26
calcutta    university calcutta    university      27

In [76]:
mystr = "##@@calcutta#@#@university#@@@#"
print (mystr.strip("@#"), len(mystr.strip("@#")))
print (mystr.lstrip("@#"), len(mystr.lstrip("@#")))
print (mystr.rstrip("@#"), len(mystr.rstrip("@#")))

calcutta#@#@university 22
calcutta#@#@university#@@@# 27
##@@calcutta#@#@university 26

In [77]:
mystr = "charity begins at home"
print (mystr.startswith("cha"), mystr.startswith("beg"), mystr.startswith("beg", 8),
       mystr.startswith("beg", 8, 20))
print (mystr.endswith("ome"), mystr.endswith("gins"), mystr.endswith("gins", 0, 14))

True False True True
True False True

In [78]:
mystr = "yellow"    # Reading character by character from a string
for ch in mystr:
    print (ch)

y
e
l
l
o
w

In [79]:
mystr = "yellow"    # Reading character by character from a string
for i in range(len(mystr)):
    print (mystr[i])

y
e
l
l
o
w

In [82]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
list1 = mystr.split()
print (list1)
list1 = mystr.split(" ")
print (list1)
list1 = mystr.split("i")
print (list1)

charity begins at home 22 <class 'str'> 2545115116800
['charity', 'begins', 'at', 'home']
['charity', 'begins', 'at', 'home']
['char', 'ty beg', 'ns at home']

In [81]:
list_num = [int(x) for x in input("Enter your all numbers: ").split()]
print (list_num)

Enter your all numbers:  11 22 33 44 55

[11, 22, 33, 44, 55]

In [83]:
list1 = ['charity', 'begins', 'at', 'home']
print (list1, len(list1), type(list1), id(list1))
mystr = " ".join(list1)
print (mystr)
mystr = " - ".join(list1)
print (mystr)
mystr = ", ".join(list1)
print (mystr)

['charity', 'begins', 'at', 'home'] 4 <class 'list'> 2545072833088
charity begins at home
charity - begins - at - home
charity, begins, at, home

In [87]:
mystr = "university"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
mystr = "1234"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
mystr = "university1234"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
mystr = "university@1234"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())

True True False False False
False True True True True
False True False False False
False False False False False

In [88]:
mystr = "university"
print (mystr.count("i"), mystr.count("v"), mystr.count("I"))

2 1 0

In [89]:
mystr = "university"
print (mystr.replace("i", "x"))
mystr = mystr.replace("i", "x")
print (mystr)

unxversxty
unxversxty

In [90]:
mystr = "mississippi"
print (mystr, type(mystr))
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

mississippi <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')
{'i', 'm', 'p', 's'}
frozenset({'i', 'm', 'p', 's'})

## List Processing

In [91]:
list1 = [100, 400, 300, 200, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, 300, 200, 700] 5 <class 'list'> 2545115151424
700 100
1700 340.0

In [92]:
list1 = [100, 400, True, 300, 200, False, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, True, 300, 200, False, 700] 7 <class 'list'> 2545115135168
700 False
1701 243.0

In [93]:
list1 = ["sunday", "monday", 'friday', 'saturday', 'Tuesday']
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

['sunday', 'monday', 'friday', 'saturday', 'Tuesday'] 5 <class 'list'> 2545114786880
sunday Tuesday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [94]:
list1 = [100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700]
print (list1, len(list1), type(list1), id(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, True, 'Tuesday', 300, 'Wednesday', 200, False, 700] 9 <class 'list'> 2545116836608

TypeError: '>' not supported between instances of 'str' and 'int'

In [95]:
# Indexing and slicing
# L to R ->  0         1          2            3           4
list1 =    ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
# R to L -> -5        -4         -3           -2          -1
print (list1, len(list1), type(list1), id(list1))
print (list1[2], list1[-3], list1[3], list1[-2])
print (list1[2][3:6], list1[-3][-6:-3])

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] 5 <class 'list'> 2545115226112
Wednesday Wednesday Thursday Thursday
nes nes

In [97]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
print (list1)
print (list2)
list3 = list1 + list2    # list concatenation
print (list3)
list1.extend(list2)      # list concatenation
print (list1)
print (list2)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Mango', 'Pineapple', 'Guava', 'Lime']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime']
['Mango', 'Pineapple', 'Guava', 'Lime']

In [98]:
list1 = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
list2 = ["Mango", "Pineapple", "Guava", "Lime"]
print (list1)
print (list2)
list3 = [list1, list2]      # list of lists
print (list3)
print (len(list3[0]), len(list3[1]))
print (list3[1][1:3], list3[0][2:4], list3[0][2][3:6])

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Mango', 'Pineapple', 'Guava', 'Lime']
[['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], ['Mango', 'Pineapple', 'Guava', 'Lime']]
5 4
['Pineapple', 'Guava'] ['Wednesday', 'Thursday'] nes

In [100]:
# insert operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.append("Guava")
print (list1)
list1.append("Lemon")
print (list1)
list1.append("Mango")
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava']
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Lemon']
['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime', 'Guava', 'Lemon', 'Mango']

In [101]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.insert(1, "Lemon")
print (list1)
list1.insert(3, "Coconut")
print (list1)
list1.insert(2, "Guava")
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Mango', 'Lemon', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Mango', 'Lemon', 'Pineapple', 'Coconut', 'Coconut', 'Banana', 'Lime']
['Mango', 'Lemon', 'Guava', 'Pineapple', 'Coconut', 'Coconut', 'Banana', 'Lime']

In [102]:
# update operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1[0] = "Himsagar"
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Himsagar', 'Pineapple', 'Coconut', 'Banana', 'Lime']

In [106]:
# deletion operation on list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.remove("Pineapple")
print (list1)
list1.remove("Coconut")
print (list1)
list1.remove("Pineapple")
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Mango', 'Coconut', 'Banana', 'Lime']
['Mango', 'Banana', 'Lime']

ValueError: list.remove(x): x not in list

In [107]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
print (list1.pop())
print (list1)
print (list1.pop())
print (list1)
print (list1.pop())
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
Lime
['Mango', 'Pineapple', 'Coconut', 'Banana']
Banana
['Mango', 'Pineapple', 'Coconut']
Coconut
['Mango', 'Pineapple']

In [108]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
print (list1.pop(2))
print (list1)
print (list1.pop(1))
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
Coconut
['Mango', 'Pineapple', 'Banana', 'Lime']
Pineapple
['Mango', 'Banana', 'Lime']

In [109]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.clear()
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
[]

In [110]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
del list1[2]
print (list1)
del list1[0]
print (list1)
del list1[1]
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Mango', 'Pineapple', 'Banana', 'Lime']
['Pineapple', 'Banana', 'Lime']
['Pineapple', 'Lime']

In [111]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
del list1
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']

NameError: name 'list1' is not defined

In [112]:
# reverse of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.reverse()
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Lime', 'Banana', 'Coconut', 'Pineapple', 'Mango']

In [113]:
# sorting of a list
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.sort()
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Banana', 'Coconut', 'Lime', 'Mango', 'Pineapple']

In [114]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1.sort(reverse = True)
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana']

In [115]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1 = sorted(list1)
print (list1)
list1 = sorted(list1, reverse = True)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Banana', 'Coconut', 'Lime', 'Mango', 'Pineapple']

In [116]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
list1 = sorted(list1, reverse = True)
print (list1)

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Lime']
['Pineapple', 'Mango', 'Lime', 'Coconut', 'Banana']

In [117]:
list1 = [True, False, True, True]
print (any(list1), all(list1))
list1 = [True, True, True, True]
print (any(list1), all(list1))
list1 = [False, False, False, False]
print (any(list1), all(list1))

True False
True True
False False

In [118]:
list1 = ['Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime']
print (list1)
print (list1.count('Pineapple'))
print (list1.index("Pineapple"))
print (list1.index("Pineapple", 2))

['Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime']
2
1
4

## Tuple Processing

In [119]:
tuple1 = (100, 400, 300, 200, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, 300, 200, 700) 8 <class 'tuple'> 2545118642720
700 100
1700 340.0

In [120]:
tuple1 = (100, 400, True, 300, 200, False, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, True, 300, 200, False, 700) 8 <class 'tuple'> 2545118418240
700 False
1701 243.0

In [121]:
tuple1 = ("sunday", "monday", 'friday', 'saturday', 'Tuesday')
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

('sunday', 'monday', 'friday', 'saturday', 'Tuesday') 8 <class 'tuple'> 2545118642720
sunday Tuesday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [122]:
tuple1 = (100, 400, True, "Tuesday", 300, "Wednesday", 200, False, 700)
print (tuple1, len(list1), type(tuple1), id(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, True, 'Tuesday', 300, 'Wednesday', 200, False, 700) 8 <class 'tuple'> 2545118216000

TypeError: '>' not supported between instances of 'str' and 'int'

In [123]:
# Indexing and slicing
# L ro R ->   0         1          2            3           4
tuple1 =    ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
# R to L ->  -5        -4         -3           -2          -1
print (tuple1[2], tuple1[-3], tuple1[3], tuple1[-2])
print (tuple1[2][3:6], tuple1[-3][-6:-3])

Wednesday Wednesday Thursday Thursday
nes nes

In [124]:
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
tuple2 = ("Mango", "Pineapple", "Guava", "Lime")
print (tuple1)
print (tuple2)
tuple3 = tuple1 + tuple2      # tuple concatenation
print (tuple3)
tuple3 = (tuple1, tuple2)     # tuple of tuples
print (tuple3)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
('Mango', 'Pineapple', 'Guava', 'Lime')
('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Mango', 'Pineapple', 'Guava', 'Lime')
(('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'), ('Mango', 'Pineapple', 'Guava', 'Lime'))

In [125]:
var1 = (10)
print (var1, type(var1))
var1 = (10,)   # singleton representation of a tuple
print (var1, type(var1))

10 <class 'int'>
(10,) <class 'tuple'>

In [129]:
# update operation on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print (tuple1, id(tuple1))
# tuple1[1] = 'Saturday'
list1 = list(tuple1)
print (list1)
list1[1] = 'Saturday'
print (list1)
tuple1 = tuple(list1)
print (tuple1, id(tuple1))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 2545118240320
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Monday', 'Saturday', 'Wednesday', 'Thursday', 'Friday']
('Monday', 'Saturday', 'Wednesday', 'Thursday', 'Friday') 2545116930400

In [130]:
# sorting on a tuple
tuple1 = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print (tuple1, id(tuple1))
tuple2 = tuple(sorted(tuple1))
print (tuple2, id(tuple2))

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 2545118240320
('Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday') 2545116930400

In [131]:
tuple1 = (True, False, True, True)
print (any(tuple1), all(tuple1))

tuple1 = (True, True, True, True)
print (any(tuple1), all(tuple1))

tuple1 = (False, False, False, False)
print (any(tuple1), all(tuple1))

True False
True True
False False

In [132]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1)
print (tuple1.count('Pineapple'), tuple1.count('Lemon'))
print (tuple1)

('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
2 0
('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')

In [133]:
tuple1 = ('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
print (tuple1)
print (tuple1.index("Pineapple"))
print (tuple1.index("Pineapple", 0))
print (tuple1.index("Pineapple", 2))
print (tuple1.index("Pineapple", 5))

('Mango', 'Pineapple', 'Coconut', 'Banana', 'Pineapple', 'Coconut', 'Banana', 'Lime')
1
1
4

ValueError: tuple.index(x): x not in tuple

# **Day-5**

## Dictionary Processing

## Set Processing

## Frozen Set Processing